/*顶部文件*/
.top_info{width:200px;margin-top:25px;}
.top_info li{width:100%; text-align:left;padding:10px 0px;}
.toppage{
	width:100%;
	height:118px;
	background-color:#ccffcc;
}
.log{
	margin-left:30px;
	margin-top:20px;
}